.follow {
}

.follow__title {
  margin-bottom: rem(24);
  @include mobile {
    margin-bottom: rem(8);
  }
}

.follow__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr, 1fr;

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  & > *:first-child {
    //первый прямой потомок .follow__grid
    grid-column: span 2; //он растягивается на 2 колонки
    grid-row: span 2; //и растягивается на 2 строки
  }

  img {
    //Применяется ко всем img внутри .follow__grid
    width: 100%; //width и height в 100% — делают изображение растянутым на всю ячейку
    height: 100%;
    object-fit: cover; //обрезает изображение по размеру, сохраняя пропорции и без искажения
  }
}
