.swiper {
  width: 100%;
  padding-bottom: rem(32) !important;

  @include mobile {
    padding-bottom: rem(20) !important;
  }
}

.swiper-pagination-bullet {
  width: rem(14) !important;
  height: rem(14) !important;
  background-color: var(--neutral-grayadadad) !important;
  opacity: 1 !important;

  @include mobile {
    width: rem(8) !important;
    height: rem(8) !important;
  }
}

.swiper-pagination-bullet-active {
  background-color: var(--neutral-graydfdfdf) !important;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-left: rem(8) !important;
  margin-right: rem(8) !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0 !important;
}
